@use '../../partials/colors';
@use '../../partials/styles';
@import '../../partials/mixins';

//QUIZ END CONTAINER
.quiz-end-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.quiz-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz-end h1{
    font-family: styles.$special-text;
    font-size: 2rem;
    margin-bottom: 2rem;
    @include medium{
        font-size: 2.5rem;
    }
}
