@use '../../partials/colors';
@use '../../partials/styles';
@import '../../partials/mixins';
// QUIZ RESULTS CONTAINER
.quiz-results-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// QUIZ RESULTS
.quiz-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.quiz-results h1{
    font-family: styles.$special-text;
    font-size: 1.5rem;
    border-bottom: 1.5px solid colors.$neon-purple-accent;
    @include medium {
        font-size: 1.75rem;
    }
    @include large {
        font-size: 2rem;
    }
}
.quiz-results h2{
    font-family: styles.$special-text;
    font-size: 1.5rem;
    @include medium {
        font-size: 1.75rem;
    }
    @include large {
        font-size: 2rem;
    }
}

// CROWN ANIMATION SECTION
.crown-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    
}
.crown-result{
    width: 5rem;
    position: absolute;
    top: 470px;
    animation-name: crownZoom;
    animation-duration: 2.5s;
    animation-delay: 0.05s;
    animation-iteration-count: infinite;
    @include medium{
        top: 510px;
    }
    @include large{
        top: 550px
    }
}
@keyframes crownZoom {
    0% {width: 5rem;}
    20% {width: 6.5rem;}
    40% {width: 8rem;}
    60% {width: 9rem;}
    80% {width: 8rem;}
    100% {width: 6.5rem;}
}