@use '../../partials/colors';
@use '../../partials/styles';
@import '../../partials/mixins';

// QUIZ START MENU
.quiz-start-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// QUIZ DISPLAY HEADER
.quiz-display-header{
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include medium{
        width: 90%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
// QUIZ MENU IMAGE
.quiz-display-image{
    width: 100%;
    margin-bottom: 0.75rem;
    @include medium {
        width: 20rem;
        border-radius: 5px;
        margin-top: 20px;
    }
    @include large{
        width: 25rem;
    }
}
.quiz-display-header h1{
    font-family: styles.$special-text;
    font-size: 2rem;
    @include medium{
        font-size: 2.25rem;
    }
}
// MAX ATTEMPTS
.max-quiz-attempts{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.max-quiz-attempts h1{
    font-family: styles.$header-text;
    margin-left: 2.5rem;
    font-size: 1.5rem;
    color: colors.$red;
    @include medium{
        font-size: 1.75rem;
    }
    @include large{
        font-size: 2rem;
    }
}
//QUIZ DISPLAY BODY
.quiz-display-body{
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1.5px solid colors.$neon-purple-accent;
}
.quiz-display-body h1{
    font-family: styles.$special-text;
    font-size: 2rem;
    @include medium{
        font-size: 2.25rem
    }
}
.quiz-display-body h2{
    font-family: styles.$header-text;
    font-size: 1.5rem;
    @include medium{
        font-size: 1.75rem
    }
}
//QUIZ DISPLAY STATS 
.quiz-display-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz-display-stats h2{
    font-family: styles.$header-text;
    font-size: 1.5rem;
    @include medium{
        font-size: 1.75rem
    }
}
// START QUIZ CONTAINER
.start-quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1.5px solid colors.$neon-purple-accent;
}
.start-quiz-container h1{
    font-family: styles.$special-text;
    font-size: 1.25rem;
    @include medium{
        font-size: 1.65rem;
    }
}
// QUIZ DISPLAY INFO
.quiz-display-info{
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.quiz-display-info h1{
    font-family: styles.$special-text;
    font-size: 2rem;
    @include medium{
        font-size: 2.25rem
    }
}
.quiz-display-info h2{
    font-family: styles.$header-text;
    font-size: 1.5rem;
    @include medium{
        font-size: 1.75rem
    }
}
.quiz-display-info p{
    font-family: styles.$general-text;
    font-size: 1rem;
    margin-top: 1rem;
    @include medium{
        font-size: 1.25rem;
    }

}