//! GENERAL COLORS
$white: #fff;
$black: #000;
$grey-op: rgba(53,53,53, 0.692);

//! TEXT COLORS & VARIANTS
$text-dk: #bec8c8;
$text-lt: rgb(235, 232, 232);
$text-placeholder: rgb(165,165, 165);

//! PURPLE VARIANTS
$purple-bk: #2a1b3d;
$purple-bk-op: #2a1b3da6;
$purple-primary-dk: #44318D;
$purple-primary-lt: #A4B3B6;
$purple-secondary: #8265a7;
$purple-secondary-op: #8265a763;
$purple-secondary-var: #8b80b0;
$purple-secondary-var-op: #8b80b080;
$purple-accent: #d93f87;
$purple-accent-op: #d93f87b0;

//! BLUE VARIANTS
$blue-primary-dk: #1F2833;
$blue-primary-dk-op: #1f283371;
$blue-secondary: #45a29e;
$blue-secondary-op: #45a29d85;
$blue-accent: #66fcf1;
$neon-blue-primary-dk: #190061;
$neon-blue-accent-lt: #3500d3;
$neon-blue-accent-dk: #240090;
