@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto-Regular.woff2') format("woff2"),
        url('../assets/fonts/Roboto-Regular.woff') format("woff");
}
@font-face {
    font-family: "Orbitron";
    src: url('../assets/fonts/Orbitron-Regular.woff2') format("woff2"),
        url('../assets/fonts/Orbitron-Regular.woff') format("woff");
}
@font-face {
    font-family: "Cairo";
    src: url('../assets/fonts/Cairo-Regular.woff2') format("woff2"),
        url('../assets/fonts/Cairo-Regular.woff') format("woff");
}