@use '../../partials/colors';
@use '../../partials/styles';
@import '../../partials/mixins';

// WHOLE QUIZ DISPLAY CONTAINER
.quiz-display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.progress-bar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}