@use '../../partials/colors';
@use '../../partials/styles';
@import '../../partials/mixins';

// NAV CONTAINER
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: colors.$purple-secondary-op;
}
// NAVIGATION LINKS CONTAINER
.navigation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// NAV LOGO
.nav-logo{
    width: 5.25rem;
    @include nav-medium-s {
        width: 5.75rem;
    }
    @include large {
        width: 6.5rem;
    }
    &:hover{
        cursor: pointer;
    }
}
.nav-ham{
    font-size: 2.25rem;
    color: colors.$blue-accent;
    &:hover{
        cursor: pointer;
    }
}
.navbar-toggler{
    color: colors.$blue-secondary-op;
}

// NAV LIST
.me-auto{
    @include nav-medium-s {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
// NAV LINK
.nav-link{
    font-family: styles.$header-text;
    color: colors.$text-lt;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    &:visited{
        color: colors.$text-lt;
    }
    &:hover{
        cursor: pointer;
        color: colors.$purple-accent;
    }
    @include nav-medium-s {
        font-size: 1.75rem;
    }
    @include large {
        font-size: 2rem;
    }
}


.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: colors.$purple-accent;
}
.nav-link:focus, .nav-link:hover{
    color: colors.$white;
}
// NAV USER AREA
.nav-avatar{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
    border-radius: 50%;
    &:hover{
        border: 1.5px solid colors.$blue-accent;
        cursor: pointer;
    }
    @include nav-medium-s{
        margin-bottom: 0;
        margin-right: 0.75rem;
        margin-left: 0.5rem;
    }
    @include nav-medium-m{
        margin-left: 1.75rem;
    }
    @include nav-large{
        margin-left: 10rem;
    }
    @include nav-large-l{
        margin-left: 17rem;
    }
    @include x-large{
        margin-left: 31.5rem;
    }
}
// NAV BUTTON
.nav-btn{
    font-family: styles.$header-text;
    background: transparent;
    outline: none;
    color: white;
    width: 6rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid colors.$neon-purple-accent;
    transition: 0.2s ease-in;
    &:hover{
        background: colors.$neon-purple-accent;
    }
}